[submodule "deis"]
	path = deis
	url = https://github.com/David-cripto/deis

[submodule "I2SB"]
	path = I2SB
	url = https://github.com/David-cripto/I2SB
[submodule "ddgan"]
	path = denoising-diffusion-gan
	url = https://github.com/NVlabs/denoising-diffusion-gan.git
